<!--Used for invoice presentation for pdf- to exclude main layout and add this footer-->
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>