<!--Used for invoice presentation for pdf- to exclude main layout and add this heading-->
<!DOCTYPE html>
<html>
<head>
    <title>MyProject</title>
    <!--refernce css files here -->
    <link rel="stylesheet" href="/cssmenu/styles.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="/cssmenu/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>
<body>
